:root {
  --bg-color: ivory;
  --txt-color: #31797e;
  --border-color: #b3c890;
  --btn-color: #a2cc5f;
  --btn-txt-color: #fff;
  --submit-btn-color: #73a9ad;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  height: auto;
  color: var(--txt-color);
  font-family: "Ysabeau", sans-serif;
}

#app_block {
  margin-top: 10%;
  padding: 2vw 5vh;
  border-style: solid;
  border: 3px solid var(--border-color);
  border-radius: 20px;
}

input[type="text"] {
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--txt-color);
}

ul {
  list-style-type: none;
}

li {
  font-size: larger;
}

.list_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background-color: var(--btn-color);
  border: none;
  color: var(--btn-txt-color);
  padding: 5px 20px;
  margin-top: 5%;
  border-radius: 10px;
  cursor: pointer;
}

#submit {
  background-color: var(--submit-btn-color);
}
