:root {
  --bg-color: ivory;
  --border-color: #b3c890;
  --btn-color: #307b58;
  --btn-txt-color: #fff;
  --input-bg-color: #fff;
  --submit-btn-color: #31797e;
  --txt-color: #31797e;
  --font-family: "Ysabeau", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100vh;
  color: var(--txt-color);
  font-family: var(--font-family);
}

#app_block {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2vw 5vh;
  border-style: solid;
  border: 3px solid var(--border-color);
  border-radius: 20px;
  min-width: 400px;
  max-width: 80%;
  min-height: 200px;
  max-height: 80%;
}

#user_customize {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#user_name {
  min-width: 150px;
  margin-bottom: 0;
  font-size: 2em;
}

select[name="theme_choice"] {
  font-family: var(--font-family);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--txt-color);
  background-color: var(--input-bg-color);
}

#add_task {
  background-color: var(--input-bg-color);
}

#add_task::placeholder {
  color: var(--txt-color);
  font-family: var(--font-family);
}

input[type="text"] {
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--txt-color);
  width: 60%;
  height: auto;
  margin-right: 5%;
}

ul {
  list-style-type: none;
  overflow-wrap: break-word;
  padding-left: 0;
}

li {
  font-size: 1.5em;
}

.list_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background-color: var(--btn-color);
  border: none;
  color: var(--btn-txt-color);
  padding: 5px 20px;
  margin-top: 5%;
  border-radius: 10px;
  cursor: pointer;
}

#submit {
  background-color: var(--submit-btn-color);
  width: 75px;
}

/* Media Queries */
@media (max-width: 767px) {
  #app_block {
    margin-top: 5%;
    padding: 1vw 2vh;
    min-width: 60vw;
    max-width: 80vw;
  }

  #user_name {
    min-width: 100px;
    padding-right: 2vw;
    margin-bottom: 2vw;
  }

  #color_themes {
    padding-top: 4vh;
    margin-bottom: 2vh;
  }

  #user_interact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #add_task {
    width: auto;
  }

  #submit {
    width: 50vw;
  }

  input[type="text"] {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #user_name {
    margin-top: 4vh;
  }

  #color_themes {
    padding-top: 3vw;
  }

  label[for="theme_choice"] {
    font-size: 1.2em;
  }

  select[name="theme_choice"] {
    font-size: 1em;
  }

  #user_interact {
    margin-top: 2vh;
  }
}
